*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
body{
  background-image: linear-gradient(to bottom, #150910, #181117, #1b161d, #1e1c23, #202129, #232c3c, #1d3a4f, #004860, #006377, #007e78, #009861, #3aad34);
  }
nav{
  background: transparent;
  height: 80px;
  width: 100%;
  position: sticky;
}
label.logo{
  color: white;
  font-size: 55px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
}
nav ul{
  float: right;
  margin-right: 40px;

}
nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 8px;

}
nav ul li a{
  color: white;
  font-size: 25px;
  letter-spacing: 2px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
  font-family: 'Nosifer', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
 text-decoration: none;

}
a.active,a:hover{
  background: none;
  transition: .5s;
  border-radius: 50px;
  box-shadow: -1px -2px 22px 6px rgba(221,203,203,0.75);
-webkit-box-shadow: -1px -2px 22px 6px rgba(221,203,203,0.75);
-moz-box-shadow: -1px -2px 22px 6px rgba(221,203,203,0.75);
}
.checkbtn{
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check{
  display: none;
}
@media (max-width: 952px){
  label.logo{
    font-size: 30px;
    padding-left: 50px;
  }
  nav ul li a{
    font-size: 16px;
  }
}
@media (max-width: 858px){
  .checkbtn{
    display: block;
  }
  ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #2c3e50;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }
  nav ul li{
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a{
    font-size: 20px;
  }
  
  a:hover,a.active{
    background: none;
    color: #0082e6;
  }
  #check:checked ~ ul{
    left: 0;
  }
}
/*home section*/
#home{
  
}
.yuva{
  margin-top: 20%;
  margin-left: 5%;
  font-size: 60px;
  font-family: 'Nosifer', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
  color: #0FE6B3;
  text-shadow: 3px 0px 24px rgba(236,216,216,0.6);

}
.front{
  margin-left: 5%;
  font-size: 25px;
  color: white;
letter-spacing: 10px;
 font-family: 'Fira Sans', sans-serif;
font-family: 'Inconsolata', monospace;
font-family: 'Merriweather', serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Playpen Sans', cursive;

}
.para{
  padding-top: 20px;
  margin-left: 5%;
  line-height: 25px;
  font-size: 18px;
  letter-spacing: 2px;
  font-family: 'Merriweather', serif;

}
#home .col-sm-6{
  min-height: 85vh;
  height: auto;
}
.img-fluid{
  width: 100%;
  height: auto;
  margin-top: 100px;
}
/*home section*/

/*about section*/
#about{

  width: 100%;
  min-height: 100vh;
  height: auto;
}
#section .row-sm-12{
  min-height: 95vh;
  height: auto;
}

#about img{
  width: 100%;
  height: 100%;
}
#about p{
  line-height: 2.5;
  font-size: 20px;
}
/*about section*/



*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
body{
  font-family: montserrat;
}
nav{
  background: transparent;
  height: 80px;
  width: 100%;
}
label.logo{
  color: white;
  font-size: 55px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
}
nav ul{
  float: right;
  margin-right: 80px;
  text-decoration: none;

}
nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 15px;

}
nav ul li a{
  color: white;
  font-size: 20px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;

}
a.active,a:hover{
  background: none;
  transition: .5s;
}
.checkbtn{
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check{
  display: none;
}
@media (max-width: 952px){
  label.logo{
    font-size: 30px;
    padding-left: 50px;
  }
  nav ul li a{
    font-size: 16px;
  }
}
@media (max-width: 858px){
  .checkbtn{
    display: block;
  }
  ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #2c3e50;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }
  nav ul li{
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a{
    font-size: 20px;
  }
  a:hover,a.active{
    background: none;
    color: #0082e6;
  }
  #check:checked ~ ul{
    left: 0;
  }
}
/*home section*/
#home{
 
}
.yuva{
  margin-top: 0%;
  margin-left: 0%;
  font-size: 80px;
  font-weight: 10px;
  font-family: 'Nosifer', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
  color: #0FE6B3;

}
.front{
  margin-left: 5%;
  font-size: 25px;
  font-weight: 500px;
 font-family: 'Roboto Condensed', sans-serif;

}
.para{
  padding-top: 20px;
  margin-left: 0%;
  line-height: 25px;
  font-size: 18px;
  letter-spacing: 2px;
  color: white;
  font-family: 'Merriweather', serif;

}
#home .col-sm-6{
  min-height: 85vh;
  height: auto;
}
.img-fluid{
  width: 100%;
  height: auto;
  margin-top: 100px;
}
/*home section*/

/*about section*/
#about{

  width: 100%;
  min-height: 100vh;
  height: auto;
}
#section .row-sm-12{
  min-height: 95vh;
  height: auto;
}
#about i{
  background: transparent;
}
#about .card{
  width: 90%;
  height:auto;
  background-color: white;
}
.wrapper {
  display: inline-flex;
  list-style: none;
}

.wrapper .icon {
  position: relative;
  background: #ffffff;
  border-radius: 50%;
  padding: 15px;
  margin: 10px;
  width: 50px;
  height: 50px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background: #ffffff;
  color: #ffffff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: #ffffff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
  background: #1877F2;
  color: #ffffff;
}

.wrapper .twitter:hover,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip::before {
  background: #1DA1F2;
  color: #ffffff;
}

.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
  background: #E4405F;
  color: #ffffff;
}

.wrapper .github:hover,
.wrapper .github:hover .tooltip,
.wrapper .github:hover .tooltip::before {
  background: #333333;
  color: #ffffff;
}

.wrapper .youtube:hover,
.wrapper .youtube:hover .tooltip,
.wrapper .youtube:hover .tooltip::before {
  background: #CD201F;
  color: #ffffff;
}
#about ul{
  justify-content: center;
}
#about p{
  line-height: 2.5;
  font-size: 20px;
}
/*about section*/



/*skills section*/


#skills{
  
  width: 100%;
  min-height: 100vh;
  height: auto;
  padding: 10px;
}
#skills h1{
  padding: 30px;
}
#skills .tab button{
  color: white;
  font-family: 'Fira Sans', sans-serif;
font-family: 'Inconsolata', monospace;
font-family: 'Merriweather', serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Playpen Sans', cursive;
height: 50px;
}
.tablinks{
  margin: 20px;
  color: white;
}
.tab {
  overflow: hidden;

display: inline-flex;
flex-wrap: wrap;
  background-color: transparent;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0px 50px;
  transition: 0.3s;
  font-size: 17px;
  margin-top: -2px;
  color: whitesmoke;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: transparent;

}

/* Create an active/current tablink class */
.tab button.active {
  background-color: transparent;
  box-shadow: 2px 4px 34px 9px rgba(133,180,128,0.82);
-webkit-box-shadow: 2px 4px 34px 9px rgba(133,180,128,0.82);
-moz-box-shadow: 2px 4px 34px 9px rgba(133,180,128,0.82);
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
 
  border-top: none;
  outline: none;

  height: 70vh;
  width: 100%;
}
#skills .tabcontent .title{
  font-family: 'Fira Sans', sans-serif;
font-family: 'Inconsolata', monospace;
font-family: 'Merriweather', serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Playpen Sans', cursive;
color: white;

}
#skills .tab button{
letter-spacing: 4px;
}
#skills .tab button:hover{
  box-shadow: 2px 4px 34px 9px rgba(133,180,128,0.82);
-webkit-box-shadow: 2px 4px 34px 9px rgba(133,180,128,0.82);
-moz-box-shadow: 2px 4px 34px 9px rgba(133,180,128,0.82);
}

/* ===== Google Font Import - Poppins ===== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

 .skill-box{
    width: 100%;
    margin: 25px 0;
}
.skill-box .title{
    display: block;
    font-size: 20px;
    font-weight: 600;
    color: #333;
}
.skill-box .skill-bar{
    height: 18px;
    width: 100%;
    border-radius: 6px;
    margin-top: 6px;
    background: rgba(0,0,0,0.1);
}
.skill-bar .skill-per{
    position: relative;
    display: block;
    height: 100%;
    width: 100%;
    border-radius: 6px;
    background: white;
    animation: progress 0.8s ease-in-out forwards;
    opacity: 0;
    box-shadow: 0px 0px 25px 4px rgba(208,149,149,0.78);
-webkit-box-shadow: 0px 0px 25px 4px rgba(208,149,149,0.78);
-moz-box-shadow: 0px 0px 25px 4px rgba(208,149,149,0.78);
}
.skill-per.html{
    width: 90%;
    animation-delay: 0.1s;
}
.skill-per.css{
    width: 80%;
    animation-delay: 0.1s;
}
.skill-per.javascript{
    width: 70%;
    animation-delay: 0.2s;
}
.skill-per.bootstrap{
    width: 70%;
    animation-delay: 0.3s;
}
.skill-per.reactjs{
    width: 50%;
    animation-delay: 0.3s;
}
.skill-per.flask{
    width: 70%;
    animation-delay: 0.1s;
}
.skill-per.expressjs{
    width: 50%;
    animation-delay: 0.1s;
}
.skill-per.nodejs{
    width: 50%;
    animation-delay: 0.2s;
}
.skill-per.mongodb{
    width: 50%;
    animation-delay: 0.3s;
}
.skill-per.mysql{
    width: 70%;
    animation-delay: 0.3s;
}
.skill-per.prob{
    width: 80%;
    animation-delay: 0.1s;
}
.skill-per.write{
    width: 90%;
    animation-delay: 0.2s;
}
.skill-per.prog{
    width: 70%;
    animation-delay: 0.3s;
}
.skill-per.tech{
    width: 80%;
    animation-delay: 0.3s;
}
@keyframes progress {
    0%{
        width: 0;
        opacity: 1;
    }
    100%{
        opacity: 1;
    }
}
.skill-per .tooltip{
    position: absolute;
    right: -14px;
    top: -28px;
    font-size: 9px;
    font-weight: 500;
    color: #fff;
    padding: 2px 6px;
    border-radius: 3px;
    background: #4070f4;
    z-index: 1;
}
.tooltip::before{
    content: '';
    position: absolute;
    left: 50%;
    bottom: -2px;
    height: 10px;
    width: 10px;
    z-index: -1;
    background-color: #4070f4;
    transform: translateX(-50%) rotate(45deg);

}
/*skills frontend*/



/*skills section*/


/*projects section*/

#projects{

  width: 100%;
  min-height: 100vh;
  height: auto;
  padding: 50px;
}
.content-section{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.content-section .card{
  flex: 1;
  margin: 20px 20px;
  overflow: hidden;

}
.content-section .card img{
  width: 100%;
  height: auto;
}
.content-section .card h2{
  margin: 15px 0px;
  font-size: 28px;
}
@media  screen and (max-width: 720px){
  .content-section{
    flex-direction: column;
  }
}
.card-body{
    width: 100%;
    height: 100%;
    top: 0;
    right: -100%;
    position: absolute;
    background: #1f3d4738;
    backdrop-filter: blur(5px);
    border-radius: 15px;
    color: #fff;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 2s;
}
.card:hover .card-body{
    right: 0;
}
.card:hover h2{
    color: white;
    transition: 0.9s ease;
}

.card-title{
    text-transform: uppercase;
    font-size: 50px;
    font-weight: 500;
}

.card-sub-title{
    text-transform: capitalize;
    font-size: 14px;
    font-weight: 300;
}

.card-info{
    font-size: 16px;
    line-height: 25px;
    margin: 40px 0;
    font-weight: 400;
}

.card-btn{
    color: #1f3d47;
    background: #8fabba;
    padding: 10px 20px;
    width: 120px;
    border-radius: 5px;
    text-transform: capitalize;
    border: none;
    outline: none;
    font-weight: 500;
    cursor: pointer;
}
/*projects section*/

/*contact section*/

#contact{

  width: 100%;
  min-height: 100vh;
  height: auto;
  padding: 50px;

}
svg {
  height: 23rem;
  margin-right: 4rem;
}

#envelope {
  animation: float 2s ease-in-out infinite;
}

#star1, #star2, #star3, #star4, #star5, #star6 {
  animation: blink 1s ease-in-out infinite;
}
#star2 { animation-delay: 100ms; }
#star3 { animation-delay: 500ms; }
#star4 { animation-delay: 700ms; }
#star5 { animation-delay: 300ms; }
#star6 { animation-delay: 200ms }

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: .5;
  }
  100% {
    opacity: 1;
  }
}

.container {
  height: 100vh;
}

form {
  min-width: 25rem;
  
  .title {
    font-family: 'Pacifico', cursive;
    color: #212529;
    font-size: 2.5rem;
  }
  
  .form-control {
    background-color: #f2f6f8;
    border-radius: 2rem;
    border: none;
    box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.11);
    
    &.thick {
      height: 3.3rem;
      padding: .5rem 3.5rem;
    }
    
    &:focus {
      background-color: #f2f6f8;
      border: none;
      box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.11);
    }
  }
  
  .message .form-control {
      padding: .5rem 1.8rem;
  }
  
  ::placeholder {
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
    font-size: 1.1rem;
    color: #838788;
    position: relative;
    left: 0;
  }
  
  input,
  textarea {
    font-family: 'Quicksand', sans-serif;
    color: #212529;
    font-size: 1.1rem;
  }
  
  .icon {
    color: #57565c;
    height: 1.3rem;
    position: absolute;
    left: 1.5rem;
    top: 1.1rem;
  }
}

#contact .btn.btn-primary {
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  height: 2.5rem;
  line-height: 2.5rem;
  padding: 0 3rem;
  border: 0;
  border-radius: 3rem;
  background-image:linear-gradient(131deg, #ffd340, #ff923c, #ff923c, #ff923c);
  background-size: 300% 100%;
  transition: all 0.3s ease-in-out;
}

.btn.btn-primary:hover:enabled {
  box-shadow: 0 0.5em 0.5em -0.4em #ff923cba;
  background-size: 100% 100%;
  transform: translateY(-0.15em);
}


/*contact section*/


/* Existing code... */

@media (max-width: 768px){
  label.logo{
    font-size: 25px;
    padding-left: 20px;
  }
  nav ul{
    margin-right: 10px;
  }
  nav ul li a{
    font-size: 14px;
  }
  .checkbtn{
    margin-right: 20px;
  }
  .yuva{
    font-size: 40px;
    margin-top: 10%;
  }
  .front{
    font-size: 20px;
  }
  .para{
    font-size: 16px;
  }
  .img-fluid{
    margin-top: 50px;
  }
  .col-sm-6{
    min-height: auto;
  }
  .skill-box .title{
    font-size: 12px;
  }
  .skill-bar{
    height: 10px;
  }
  .skill-per .tooltip{
    font-size: 8px;
    padding: 1px 4px;
  }
  .card-title{
    font-size: 30px;
  }
  .card-sub-title{
    font-size: 12px;
  }
  .card-info{
    font-size: 14px;
  }
  .card-btn{
    height: 2rem;
    line-height: 2rem;
    padding: 0 2rem;
    font-size: 14px;
  }
  .btn.btn-primary{
    height: 2.2rem;
    line-height: 2.2rem;
    padding: 0 2.5rem;
    font-size: 16px;
  }
  svg {
    height: 15rem;
    margin-right: 2rem;
  }
  .form-control.thick {
    height: 2.8rem;
    padding: .5rem 2rem;
  }
}

/* Existing code... */
